---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import BlogGrid from "@components/BlogGrid.astro";

const posts = (await getCollection("blog", ({ data }) => !data.hidden)).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Layout>
  <h1 class="mb-8 text-4xl font-bold">Blog</h1>
  <BlogGrid posts={posts} />
</Layout>