/* Custom styles for blog grid layout */

/* Remove list styling from grid */
.blog-grid ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog-grid li {
  margin-bottom: 0;
  border-radius: 0;
  overflow: hidden;
  transition: transform 0.3s ease;
}

/* Remove underlines from titles */
.blog-grid a {
  text-decoration: none;
}

/* Make titles black for non-colored cards and not bold */
.blog-grid h4, .blog-grid h3 {
  color: #000000;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-weight: normal;
}

/* Remove any gaps in the grid */
.blog-grid ul {
  display: grid;
  grid-gap: 0;
}

/* Make grid cells square */
.blog-grid ul > li {
  padding: 3rem 1.25rem;
  margin: 0;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Add shadow to the overall grid and the first featured post */
.blog-grid {
  margin-top: 2rem;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.2);
}

/* Styles for the checker pattern */
.blog-grid .bg-\[\#222\] h4,
.blog-grid .bg-primary h4 {
  color: #ffffff;
}

/* Post Bg Patterns */

.blog-bg-pattern {
  background-repeat: no-repeat;
}

.blog-bg-pattern-cone {
  background-image: url(/images/post-patterns/pt-cone.svg);
  background-position: 100% 90%
}

.blog-bg-pattern-cone-white {
  background-image: url(/images/post-patterns/pt-cone-white.svg);
  background-position: 100% 90%
}

.blog-bg-pattern-cube {
  background-image: url(/images/post-patterns/pt-cube.svg);
  background-position: 100% 90%
}

.blog-bg-pattern-cube-white {
  background-image: url(/images/post-patterns/pt-cube-white.svg);
  background-position: 100% 90%
}

.blog-bg-pattern-triangle {
  background-image: url(/images/post-patterns/pt-triangle.svg);
  background-position: 80% 90%
}

.blog-bg-pattern-triangle-white {
  background-image: url(/images/post-patterns/pt-triangle-white.svg);
  background-position: 80% 90%
}

.blog-bg-pattern-wave {
  background-image: url(/images/post-patterns/pt-wave.svg);
  background-position: 80% 90%
}

.blog-bg-pattern-wave-white {
  background-image: url(/images/post-patterns/pt-wave-white.svg);
  background-position: 80% 90%
}
