---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>About this website</h1>
  <p>
    mfyz is a personal blog. For many years, it tried to stay away from being a personal blog. But in its current state, it stopped hiding its name and author’s name.
  </p>
  <p>
    Mehmet Fatih Yıldız continues writing his interests, his tech experiments, and his experiences in this blog.
  </p>
  <p>
    mfyz.com started in 2003 as a playground of a web developer. For many years, mfyz.com published many articles in web development and programming as well as hosted a small developer community. The site has been updated in 9 versions with a complete rewrite and redesign in each version. This last version is powered by WordPress though.
  </p>

  <h2>About Mehmet Fatih Yıldız</h2>
  <p>
    Mehmet Fatih Yıldız is a tech entrepreneur. For many years, he worked as a back-end and front-end engineer in many companies and worked with big brands. He’s currently wearing many hats like project management, product development, and team management. He’s been working on his startups and tech products.
  </p>
  <p>
    You can find more information about Mehmet Fatih Yıldız on <a href="https://mfyz.net">mfyz.net</a>.
  </p>
</Layout>