---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import BlogGrid from "@components/BlogGrid.astro";

const posts = (await getCollection("blog", ({ data }) => !data.hidden)).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

---

<Layout>
  <section class="mb-16">
    <BlogGrid posts={posts} limit={6} />
    <div class="mt-16 mb-8 flex items-center justify-between">
      <a href="/blog" class="text-primary hover:underline">View all posts</a>
    </div>
  </section>
</Layout>
