---
import Layout from "@layouts/Layout.astro";
import BlogGrid from "@components/BlogGrid.astro";
import BlogList from "@components/BlogList.astro";
import { getEnglishPosts } from "@utils/getPosts.ts";

const posts = await getEnglishPosts();

const gridPosts = posts.slice(0, 25);
const listPosts = posts.slice(25);
---

<Layout>
  <div>
    <section class="-mt-10 mb-16">
      <BlogGrid posts={gridPosts} limit={25} />

      <div class="blog-archive mt-24">
        <h2>Archive</h2>
        {listPosts.length > 0 && <BlogList posts={listPosts} />}
      </div>
    </section>
  </div>
</Layout>
