---
// YouTube.astro - Responsive YouTube embed component (converted from React)

// Get props from the component invocation
const { id, startAt } = Astro.props;

// Build YouTube URL with optional start time parameter
const startParam = startAt ? "?start=" + startAt : "";
const url = `https://www.youtube.com/embed/${id}${startParam}`;
---

<div class="relative my-8 h-0 overflow-hidden rounded-lg pb-[56.25%]">
  <iframe
    src={url}
    style="border: 0;"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    class="absolute left-0 top-0 h-full w-full"></iframe>
</div>
